<div class="password-list">
  <h2>Passwords</h2>
  <table>
    <thead>
      <tr>
        <th>Category</th>
        <th>App</th>
        <th>Username</th>
        <th>Password (Decrypted)</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let password of passwords">
        <td>{{ password.category }}</td>
        <td>{{ password.app }}</td>
        <td>{{ password.userName }}</td>
        <td>{{ password.decryptedPassword }}</td>
        <td>
          <button (click)="deletePassword(password.id)">Delete</button>
        </td>
        <td>
          <button (click)="editPassword(password.id)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
