<div class="password-form">
  <h2>Add Password</h2>
  <form (ngSubmit)="addPassword()">
    <label>
      Category:
      <input
        type="text"
        [(ngModel)]="newPassword.category"
        name="category"
        required
      />
    </label>
    <label>
      App:
      <input type="text" [(ngModel)]="newPassword.app" name="app" required />
    </label>
    <label>
      Username:
      <input
        type="email"
        [(ngModel)]="newPassword.userName"
        name="userName"
        required
      />
    </label>
    <label>
      Password:
      <input
        type="password"
        [(ngModel)]="newPassword.password"
        name="password"
        required
      />
    </label>
    <button type="submit">Add Password</button>
  </form>
</div>
